

body{
    margin: 0 !important;
    overflow: auto;
}

.home{
    /* width: 100%; */
 
    padding-left: 200px;
    padding-right: 300px;
    background-color: black;
    min-height: 100vh;
    text-align: left;
}

.navbar{
    background-color: black;
    position: fixed;
}

.topNavbar{
    height: 50px;
    top:0;
    left: 200px;
    right: 300px;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid gray;
    opacity: 0.9;
    padding-right: 500px;
    box-sizing: border-box;
}
.top-container{
    width: 100%;
    height: 100%;
    display: inline-flex;
    text-align: center;
}
.topItem{
    color: rgb(253, 253, 253);
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.topItem:hover{
    cursor: pointer;
    background-color:  rgb(33, 33, 33);
}

.underline-top{
    position: absolute;
    bottom: 5px;
    left: 46%;
    height: 5px;
    width: 25px;
    background-color: #00b7ff;
    border-radius: 3px;
}

.return-button{
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.return-button:hover{
    cursor: pointer;
    background-color:  rgb(33, 33, 33);
}

.leftNavbar{
    height: 100vh;
    width: 200px;
    margin: 0;
    top:0;
    left: 0;
    z-index: 10;
    text-align: center;
    border-right: 1px solid gray;
    color: white;
}

.rightNavbar{
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    border-left: 1px solid gray; 
    z-index: 10;

}


@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Open+Sans&family=Patrick+Hand&family=Space+Grotesk:wght@600&display=swap');

.appName{
    
    
    height: 50px;
}

.appName h1{
    color: white;
    padding: 5px;
    font-family: 'Exo 2', sans-serif;
    font-size: 2rem;
    margin: 0;
    
}

.listLeftNb{
    list-style-type: none;
    padding: 20px 5px;
    margin: 0;
    text-align: left;
    font-size: 17px;
}
.itemLeftNb{
    padding: 12px 10px;
    font-family: 'Exo 2', sans-serif;
    border-radius: 25px;
    margin: 7px;
}

.insideItem{
    display: inline-flex;
    align-items: self-end;
    position: relative;
}
.insideItem > svg{
    margin-right: 10px;
}
.listLeftNb h3{
    margin: 0;
    padding: 0;
}

@media (max-width:1000px){
    .topNavbar{
        padding-right: 200px;
    }
    .rightNavbar{
        display: none;
    }
    .home{
        padding-right: 0;
    }
}

@media (max-width:768px){
    .leftNavbar, 
    .rightNavbar{
        display: none;
    }
    .home{
        padding-left: 0;
        padding-right: 0;
    }
    .topNavbar{
        left: 0;
        padding-right: 0;
    }
}

.itemLeftNb:hover{
    background-color:  rgb(33, 33, 33);
    cursor: pointer;
}




/* font-family: 'Open Sans', sans-serif; */




/* home page */

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&family=Open+Sans&family=Patrick+Hand&family=Roboto&family=Space+Grotesk:wght@600&display=swap');


p{
    margin: 0;
    padding: 0;
}
.content{
    padding: 0;
    padding-top: 50px;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

.itemContent{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;
}

.item-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    border-bottom:1px solid gray;
    border-left:1px solid gray;
    border-right:1px solid gray;
}

.userRepost{
    display: inline-flex;
    align-items: center;
    color: rgb(120, 120, 120);
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 10px;
}

.userRepost:hover{
    cursor: pointer;
    text-decoration: underline;
}

.userRepost > svg{
    padding-left: 34px;
    margin-right: 8px;
}

.titleContent{
    position: relative;
}

.titleContent:hover{
    cursor: pointer;
}

.avatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid gray;
    margin-right: 8px;
}
.avatar:hover{
    cursor: pointer;
}

.userContent{
    display: inline-flex;
}

.userContent >*{
    align-self: center;
}


.username{
    font-weight: bold;
    font-size: 16px;
}

.username:hover{
    cursor: pointer;
    text-decoration: underline;
}

.postTime{
    font-size: 13px;
    color: gray;
    font-weight: 400;
}


.three-dots{
    float: right;
    margin: 10px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
}

.three-dots > svg{
    border-radius: 50%;
    padding: 4px;
}

.three-dots > svg:hover{
    background-color: #001c1b;
    cursor: pointer;
    fill: #00fffb;
}

.post{
    font-weight: 500;
    font-size: 16px;
    padding-left: 60px;
    padding-right: 20px;
    margin: 10px 0;
}

.imagePost{
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
}

.action{
    display: inline-flex;
    margin-left: 60px;
    justify-content:space-between;
    width: 80%;
    color: rgb(207, 207, 207);
}

.itemAction{
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 19px;
}

.itemAction:hover{
    cursor: pointer;
}

.heart:hover{
    color: red;
    background-color: rgb(33, 0, 0);
}

.heart:hover svg{
    fill: red;
}

.comment:hover{
    color: rgb(0, 110, 255);
    background-color: rgb(0, 16, 37);
}

.comment:hover svg{
    fill: rgb(0, 110, 255);
}



.repost:hover{
    color: rgb(0, 255, 0);
    background-color: rgb(0, 29, 0);
}

.repost:hover svg{
    fill: rgb(0, 255, 0);
}

.inputPost{
    display: inline-flex;
    width: 100%;
    margin-bottom: 15px;
    
}

.inputPost-form{
    width: 100%;
    padding-right: 30px;
}

.comment-form{
    width: 100%;
    padding-right: 55px;
    position: relative;
}

.inputPost textarea{
    border: none;
    height: auto;
    resize: none;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    background-color: black;
    color: white;
    width: 100%;
    margin: 10px 0;

}
.inputPost textarea:focus{
    
    outline: none;
    caret-color: white;
}

.check-button{
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bolder;
    border-radius: 20px;
    color: white;
    float: right;
    margin: 10px;
    
}

.check-button-false{
    cursor: not-allowed;
    pointer-events: none;
    background-color: #3f98f1;
}

.check-button-true{
    background-color: #1f8fff;
}

.check-comment-button{
    width: 49px;
    height: 49px;
    border: none;
    background-color: black;
    padding: 8px;
    font-size: 15px;
    border-radius: 50%;
    float: right;
    position: absolute;
    top: 1%;
    right: 1%;
}

.check-comment-false:hover{
    cursor: auto;
}


.yourPostLine{
    width: 100%;
    background-color: rgb(59, 59, 59);
    height: 1px;
}

.commentLine{
    width: 100%;
    background-color: rgb(59, 59, 59);
    height: 1px;
    margin-bottom: 15px;
}

#inputPostImage{
    display: none;
}

.customPostImageInput{
    display: inline-block;
    margin: 10px;
}
.customPostImageInput:hover{
    cursor: pointer;
}

.loadImage{
    position: relative;
    width: 100%;
}

.loadImage > img{
    width: 100%;
}

.cancelIcon:hover{
    cursor: pointer;
}

.loadImage  svg{
    position: absolute;
    top: 15px;
    right: 15px;
}


/* profile page */

.userProfile{
    width: 100%;
    border: 1px solid gray;
    border-top: 0;
}

.userProfileImage{
    width: 100%;
    aspect-ratio: 12 / 5;
    position: relative;
    margin-bottom: 12%;
}

.backgroundImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backgroundImage:hover{
    cursor: pointer;
}

.backgroundPopup{
    /* display: none; */
    z-index: 20;
    position: absolute;
    right: 15%;
    bottom: -18%;
    width: 160px;
    height: auto;
    text-align: left;
    
}
.backgroundPopup > div{
 
    width: 100%;
    padding: 10px 18px;
    border: 0;
    color: white;
    background-color: rgb(46, 46, 46);
    text-align: left;
    font-size: 12px;
    padding: 10px 18px;
    /* font-family: 'Exo 2', sans-serif;   */
}

.backgroundPopup > div > *{
    align-items: center;
}

.backgroundPopup *:hover{
    background-color: rgb(53, 53, 53);
    cursor: pointer;
    
}

/* .backgroundInput{
    width: 100%;
    background-color: rgb(46, 46, 46);
    padding: 10px 0;
} */

#backgroundImageInput{
    width: 100%;
    display: none;
}

.customBackgroundImageInput{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    height: 100%;
    padding: 10px 18px;
    background-color: rgb(46, 46, 46);
}

.avatarImage{
    width: 25%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid black;
    position: absolute;
    bottom: -27%;
    left: 3%;
}

.avatarImage:hover{
    cursor: pointer;
}

.avatarPopup{
    /* display: none; */
    z-index: 20;
    position: absolute;
    left: 25%;
    bottom: -30%;
    width: 130px;

    
}
.avatarPopup > div{
    width: 100%;
    padding: 10px 18px;
    border: 0;
    color: white;
    background-color: rgb(46, 46, 46);
    text-align: left;
    font-size: 12px;
    /* font-family: 'Exo 2', sans-serif;   */
}



.avatarPopup *:hover{
    background-color: rgb(53, 53, 53);
    cursor: pointer;
    
}


#avatarImageInput{
    width: 100%;
    display: none;
}

.customAvatarImageInput{
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    height: 100%;
    padding: 10px 18px;
    background-color: rgb(46, 46, 46);
}

.userProfileContent{
    text-align: left;
    padding-left: 4%;
    position: relative;
}

.profileUsername{
    width: 31%;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}

.profileInfo{
    color: gray;
    display: inline;
    margin-right: 20px;
    font-size: 15px;
}

.profileInfo span{
    color: white;
    font-weight: 900;
}

.profilePost{
    width: 100%;
    margin-top: 30px;
    display: inline-flex;
    text-align: center;

}

.profilePost > div{
    width: 50%;
    padding: 15px;
    font-size: 17px;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

.profilePost > div:hover{
    cursor: pointer;
    background-color: rgb(33, 33, 33);
}

.profileButton{
    position: absolute;
    right: 3%;
    bottom: -50px;
}

.profileButton > button{
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Exo 2', sans-serif;  
    padding: 8px 16px;
    border-radius: 20px;
}

.profileButton > button:hover{
    cursor: pointer;
    background-color: rgb(212, 212, 212);
}


.comment-component{
    padding-right: 15%;
    margin-bottom: 5px;
    position: relative;
}

.commentContent{
    display: inline-flex;
}

.comment-username{
    margin-bottom: 2px;
    display: inline-block;
    font-size: 15px;
}
.commentTime{
    display: inline-block;
    font-size: 13px;
    color: gray;
    font-weight: 400;
}
.commentText{
    font-size: 15px;
}

.action-comment{
    
    
    width: 100%;
    color: rgb(207, 207, 207);
    /* display: inline-flex;
    justify-content: right; */

}

.itemAction-comment{
    display: inline-flex;
    align-items: center;
    padding: 4px;
    border-radius: 19px;
    margin-left: 10%;
    font-size: 15px;
}

.itemAction-comment:hover{
    cursor: pointer;
}

.pop-up-post{
    position: absolute;
    top:0;
    right: 0;
    background-color: black;
    box-shadow: 0 0 4px 1px rgb(184, 184, 184);
    border-radius: 10px;
    text-align: left;
    margin-right: 10px;
    font-weight: 900;
    font-family:'Exo 2', sans-serif;
    z-index: 20;
}

.pop-up-post > *{
    
    padding: 10px 20px;
    
}
.first-pop-up{
    border-radius: 10px 10px 0 0;
}

.last-pop-up{
    border-radius: 0 0 10px 10px;
}

.pop-up-post > *:hover{
    cursor: pointer;
    background-color: rgb(33, 33, 33);
}

.more-comment{
    font-size: 15px;
    font-weight: 900;
}

.more-comment:hover{
    cursor: pointer;
    text-decoration: underline;
}

.three-dots-comment{
    position: absolute;
    top: 5%;
    right: 2%;
    margin: 10px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    z-index: 5;
}

.three-dots-comment > svg{
    border-radius: 50%;
    padding: 4px;
}

.three-dots-comment > svg:hover{
    background-color: #001c1b;
    cursor: pointer;
    fill: #00fffb;
}

.check-edit-comment-button{
    color: whitesmoke;
    padding: 10px 15px;
    border: none;
    font-size: 15px;
    border-radius: 20px;

    position: absolute;
    top: 5%;
    right: 2%;
    background-color: #1f8fff;
    font-weight: 900;
    font-family: 'Exo 2', sans-serif;
}

.check-edit-comment-false{
    cursor: not-allowed;
    pointer-events: none;
    background-color: #3f98f1;
}

.edit-comment-form{
    width: 100%;
    padding-right: 55px;
  
}


.search-bar{
    height: 40px;
    display: inline-flex;
    align-items: center;
    background-color: rgb(32, 32, 32);
    padding: 5px 18px;
    border-radius: 30px;
    margin-top: 20px;
    margin-left: 20px;
}

.search-bar *{
    background-color: rgb(32, 32, 32);
}

.search-bar > input{
    border: 0;
    font-size: 16px;
    margin-left: 12px;
    color: rgb(205, 205, 205);
}

.search-bar > input:focus{
    outline: none;
}

.user-list{
    
    color: rgb(225, 225, 225);
    margin: 20px 5px;
    width: 290px;
    
}

.user-item{
    width: 260px;
    padding: 10px 15px;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}

.user-item:hover{
    cursor: pointer;
    background-color:  rgb(33, 33, 33);
}

.no-match{
    color: rgb(225, 225, 225);
    margin-top: 10px;
    margin-left: 74px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.notification{
    position: absolute;
    min-width: 13px;
    left: 15px;
    top: -8px;
    font-size: 12px;
    padding: 2px 3px;
    background-color: red;
    text-align: center;
    display: block;
    border-radius: 9px;
}

/* notification */


.notification-item{
    padding: 12px 20px;
    border-radius: 10px;
}

.notification-item:hover{
    background-color:  rgb(33, 33, 33);
    cursor: pointer;
}

.notification-content{
    display: inline-flex;
    align-items: center;
}

.notification-user-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.notification-content > img{
    margin-right: 15px;
}

.notification-username{
    font-size: 17px;
    font-weight: 900;
}

.notification-content{
    font-size: 17px;
}

.notification-time{
    color: gray;
    font-size: 15px;
}