.home{
    
}

.navbar{
    background-color: black;
    
}

.topNavbar{
    height: 50px;
}

.leftNavbar{
    height: 100vh;
    width: 250px;
    margin: 0;
}


@media (max-width:768px){
    .leftNavbar,
    .rightNavbar{
        display: none;
    }
}



/* font-family: 'Open Sans', sans-serif; */